@font-face {
  font-family: 'FFMC';
  src: url('fonts/FF\ Magda\ Clean\ Mono\ OT\ Regular.ttf');
}
@font-face {
  font-family: 'LIST';
  src: url('fonts/LISTFCEI.TTF');
}

body {
  font-family: 'FFMC', 'LIST', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f6f8fa;
  margin: 0;
  visibility: hidden;
}

#editor-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e1e4e8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas-container {
  position: relative;
  margin-bottom: 20px;
}

#art-canvas {
  display: none;
}
#art-image {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  margin-bottom: 20px;
}

#input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#canvas-settings {
  display: flex;
  flex-direction: row;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 600;
}

input[type="checkbox"] {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
